<div class="content1">
  <%- lang = @language[1].split("") %>
    <%- lang2 = lang.shuffle! %>
    <%= lang2.join %>
    <br>
</div>

<div  class="seikai">
  <%- if @language[1] == "ruby" %>
    正解
  <%- else %>
    不正解
  <%- end %>
</div>
